# Iterative Statement

- If we want to execute a group of statements multiple times , we should go for iterative statements
- 1. For
  2. while

## for loop

> If we want to execute some action for every element present in some sequence( collection of string) then we should go for for loop.

#syntax :
for x in sequence:
    body

where sequence can be string or any collection 
body will be executed on each element present in string/collection.

In [1]:
s="Dhoni"
for x in s:
    print(x)

D
h
o
n
i

In [2]:
list1=[23,6,77,86,90,14,"nani"]
for x in list1:
    print(x)

23
6
77
86
90
14
nani

In [3]:
#to print character present in string index wise 
name=input("enter a name")
i=0
for x in name:
    print("character present at",i,"Index is:",x)
    i=i+1

enter a name Nithin

character present at 0 Index is: N
character present at 1 Index is: i
character present at 2 Index is: t
character present at 3 Index is: h
character present at 4 Index is: i
character present at 5 Index is: n

In [4]:
#print hello*10
a="Hello"
for x in range(0,11):
    print(a)

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [5]:
a=range(10)
for i in a:
    print("hello")

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [6]:
a=10
for x in range(10):
    print(a)
    a=a-1

10
9
8
7
6
5
4
3
2
1

In [12]:
# print odd number from 1 to 20
a=0
for x in range(0,20):
    if x%2!=0:
        print(a)
    a=a+1

1
3
5
7
9
11
13
15
17
19

In [26]:
#printing a table of number by taking input from the keyboard
a=int(input("enter number"))
x=1
for i in range(a,a*11,a):
    print(a,"*",x,"=",i)
    x=x+1

enter number 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [29]:
#method2 for table printing
n=int(input("enter a number"))
for i in range(n,n*11,n):
    print(i)

enter a number 5

5
10
15
20
25
30
35
40
45
50

In [28]:
#medhod2 - printing odd numbers
for x in range(21):
    if(x%2!=0):
        print(x)

1
3
5
7
9
11
13
15
17
19

# While loop

> if we want to execute a group of statements iteratively until some condition false, then go for while loop.

#Syntax

while condition:
    body

In [33]:
#to print number from 1 to 10 while loop
x=1
while x<=10:
    print(x)
    x=x+1

1
2
3
4
5
6
7
8
9
10

In [34]:
#display the sum of first n number
n=int(input("enter a Number"))
sum=0
i=1
while i<=n:
    sum=sum+i
    i=i+1
print("the sum of first ",n,"number is",sum)

enter a Number 5

the sum of first  5 number is 15

# Nested loop

loop within the loop

In [35]:
for i in range(4):
    for j in range(4):
        print("i=",i,"j=",j)

i= 0 j= 0
i= 0 j= 1
i= 0 j= 2
i= 0 j= 3
i= 1 j= 0
i= 1 j= 1
i= 1 j= 2
i= 1 j= 3
i= 2 j= 0
i= 2 j= 1
i= 2 j= 2
i= 2 j= 3
i= 3 j= 0
i= 3 j= 1
i= 3 j= 2
i= 3 j= 3

# Tranfer Statements

> Break

- we can use break statement inside loops to break loop execution based on some condition.

In [36]:
for i in range(10):
    if i==7:
        print("processing is enough,please break")
        break
    print(i)

0
1
2
3
4
5
6
processing is enough,please break

In [37]:
cart=[100,200,300,400,500,600,700,800,900,1000]
for item in cart:
    if item>500:
        print("you will 20% discount on this")
        break
    print(item)

100
200
300
400
500
you will 20% discount on this

# Continue

- we can use continue statement to skip current iteration and continue to next.

In [38]:
for i in range(10):
    if i%2==0:
        continue #it will skip when it is true or correct
    print(i)

1
3
5
7
9

In [39]:
cart=[100,200,300,400,500,600,700,800,900,1000]
for item in cart:
    if item>=500:
        print("we cannot process this item",item)
        continue
    print(item)

100
200
300
400
we cannot process this item 500
we cannot process this item 600
we cannot process this item 700
we cannot process this item 800
we cannot process this item 900
we cannot process this item 1000

# pass Satement

- Pass is keyword in python
- in Python if block is required which won't do anything then we can define the empty block with pass keyword.

>pass 
it is a empty staement
it is null statement
it won't do anything

In [41]:
for i in range(100):
    if i%9==0:
        print(i)
    else:
        pass

0
9
18
27
36
45
54
63
72
81
90
99

In [42]:
x=200
x

200

In [43]:
del x

In [45]:
x
# del we are using it to delete variable

NameError: name 'x' is not defined